<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visit Summary Prompter</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Visit Summary Prompter</h1>

    <!-- Form Section (Top part) -->
    <div class="form-container">
        <div class="form-box">
            <h2>Enter Visit Notes</h2>
            <form id="visitForm" method="post" action="/process">
                <!-- Dropdown to select a visit note -->
                <h3>Choose a visit note:</h3>
                <select id="visit_note_select" onchange="fillVisitNote()">
                    <option value="">-- Select a visit note --</option>
                    <!-- Backend will populate these options with visit notes -->
                    <option value="visit_1">Example Visit Note 1</option>
                    <option value="visit_2">Example Visit Note 2</option>
                    <option value="visit_3">Example Visit Note 3 </option>
                    <option value="visit_4">Transcription Note from Rendr Doc</option>
                    <option value="sdoh_visit">Example Visit Note  with SDOH (use in diagnosis test and hcc test)</option>
                    <option value="diagnosis_visit_note">Example Visit Note with HCC, SDOH (use for diagnosis test)</option>
                    <option value="lab_result">Example Visit Note for Lab Result Summary and Email</option>
                    <option value="follow_up">Example Visit Note for Follow Up</option>
                    <option value="medication_adherance">Example Visit Note with medication adherance Q & A</option>
                    <option value="previsit_planner">Example Visit Note for Previsit Planning</option>
                </select>
                <br><br>

                <!-- Visit Note Textarea -->
                <textarea id="visit_note" name="visit_note" placeholder="Enter patient visit notes...">{{ visit_note or '' }}</textarea>
                <br><br>

                <!-- Medication Adherence Response Textarea -->
                <h3>Medication Adherence Responses</h3>
                <textarea id="adherence_response" name="adherence_response" placeholder="Medication adherence responses will appear here...">{{ adherence_response or '' }}</textarea>
                <br><br>

                <!-- Prompter Type Radio Buttons -->
                <h2>What do you want to do?</h2>
                <h2>Administrative Assistants(Audience of output = Medical Assistants, Care Team)</h2>
                <div id="prompter_type" class="radio-group">

                    <input type="radio" id="summarizer" name="prompter_type" value="summarizer" {% if prompter_type == "summarizer" %}checked{% endif %}>
                    <label for="summarizer">Summarize the Visit Note</label><br>
                

                    <input type="radio" id="follow_up" name="prompter_type" value="follow_up" {% if prompter_type == "follow_up" %}checked{% endif %}>
                    <label for="follow_up">Pick out follow up for the patient from the Visit Note.</label><br>

                    <input type="radio" id="previsit_planner" name="prompter_type" value="previsit_planner" {% if prompter_type == "previsit_planner" %}checked{% endif %}>
                    <label for="previsit_planner">Do the previsit planning for the patient.</label><br>
                </div>
                <h2>Administrative Assistants(Audience of output = Biller)</h2>
                <div id="prompter_type" class="radio-group">
                    <input type="radio" id="biller" name="prompter_type" value="biller" {% if prompter_type == "biller" %}checked{% endif %}>
                    <label for="biller">Generate CPT Code for the Visit Note</label><br>

                    <input type="radio" id="diagnosis" name="prompter_type" value="diagnosis" {% if prompter_type == "diagnosis" %}checked{% endif %}>
                    <label for="diagnosis">Recommend Diagnosis Code ICD-10 for the Visit Note</label><br>

                    <input type="radio" id="hcc_coder" name="prompter_type" value="hcc_coder" {% if prompter_type == "hcc_coder" %}checked{% endif %}>
                    <label for="hcc_coder">Generate HCC ICD-10 Codes.</label><br>

                    <input type="radio" id="sdoh_coder" name="prompter_type" value="sdoh_coder" {% if prompter_type == "sdoh_coder" %}checked{% endif %}>
                    <label for="sdoh_coder">Generate SDOH Specific Z-Codes/ICD-10.</label><br>
                </div>

                <h2>Patient Engagement Assistant (Audience of output = Patient)</h2>
                <div id="prompter_type" class="radio-group">
                    <input type="radio" id="medication_adherance" name="prompter_type" value="medication_adherance" {% if prompter_type == "medication_adherance" %}checked{% endif %}>
                    <label for="medication_adherance">Generate Medication Adherance Patient Message at 6th Grade Reading Level.</label><br>

                    <input type="radio" id="lab_result" name="prompter_type" value="lab_result_emailer" {% if prompter_type == "lab_result_emailer" %}checked{% endif %}>
                    <label for="diagnosis">Summarize the Lab Results and create a patient email.</label><br>
                </div>

                <h2>Multi-Lingual POC Examples for Patient Engagement (Audience of output = Patient)</h2>

                <div id="prompter_type" class="radio-group">
                    <input type="radio" id="spanish_summary" name="prompter_type" value="spanish_summary" {% if prompter_type == "spanish_summary" %}checked{% endif %}>
                    <label for="spanish_summary">Generate patient summary in spanish with follow-up due dates.</label><br>

                    <!-- mandarin_summary-->
                    <input type="radio" id="mandarin_summary" name="prompter_type" value="mandarin_summary" {% if prompter_type == "mandarin_summary" %}checked{% endif %}>
                    <label for="mandarin_summary">Generate patient summary in Mandarin with follow-up due dates.</label><br>

                    <!-- english_summary-->
                    <input type="radio" id="english_summary" name="prompter_type" value="english_summary" {% if prompter_type == "english_summary" %}checked{% endif %}>
                    <label for="english_summary">Generate patient summary in English with follow-up due dates.</label><br>

                    <!-- korean_summary -->
                    <input type="radio" id="korean_summary" name="prompter_type" value="korean_summary" {% if prompter_type == "korean_summary" %}checked{% endif %}>
                    <label for="korean_summary">Generate patient summary in Korean with follow-up due dates.</label><br>
                </div>

                <!-- AI Model to use-->
                 <h2>AI Model to Choose:</h2>
                 <div id="model_type" class="radio-group">
                    <input type="radio" id="openai" name="model_type" value="openai" {% if model_type == "openai" %}checked{% endif %}>
                    <label for="openai">Open AI</label><br>
                
                    <input type="radio" id="anthropic" name="model_type" value="anthropic" {% if model_type == "anthropic" %}checked{% endif %}>
                    <label for="anthropic">Anthropic</label><br>
                </div>
                <button type="submit" onclick="showSpinner()">Submit</button>
                <!-- Reset button with an onClick event to reset the form -->
                <button type="button" class="reset-button" onclick="resetForm()">Reset Form</button>
            </form>

        </div>
    </div>

    <!-- Spinner Container (Initially Hidden) -->
    <div id="spinner-container" class="spinner-container">
        <div id="spinner" class="spinner"></div>
        <div id="spinner-text" class="spinner-text">Thinking...</div>
    </div>

    <!-- Split section (Bottom part) -->
    <div class="split-container">
        <!-- Left Side: Visit Note entered -->
        <div id="visit-note-panel" class="box output-box">
            <h2>Visit Note Entered</h2>
            {% if visit_note %}
                <pre>{{ visit_note }}</pre>
            {% else %}
                <p>No visit note entered yet.</p>
            {% endif %}
            {% if adherence_response %}
                <h2>Medication Adherance Response Entered</h2>
                <pre>{{ adherence_response }}</pre>
            {% endif %}
        </div>

        <!-- Right Side: Generated Output -->
        <div id="generated-output-panel" class="box output-box">
            <h2>Generated Output 
                {% if model_type %} <pre> using {{ model_type }}</pre>{% endif %}
                {% if prompter_type %} <pre>for {{ prompter_type }}</pre>{% endif %}
            </h2>
            {% if result %}
                <pre>{{ result | safe }}</pre>
            {% else %}
                <p>Generated output will appear here after submission.</p>
            {% endif %}
            {% if email %}
                <h2>Patient Email</h2>
                <pre>{{ email | safe }}</pre>
            {% endif %}
        </div>
    </div>

    <!-- Reference external JavaScript file -->
    <script src="/static/script.js?v=2.0"></script>
</body>
</html>